<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Preheat:</strong>
  <%= @recipe.preheat_temp %>
  <%= @recipe.preheat_celcius ? 'C' : 'F' %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
