<!DOCTYPE html>
<html>
  <head>
    <title>RecipeFiend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="body-container">
      <%= react_component("FlashNotice", { message: flash.notice }) %>

      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
